@model Dominio.EntidadesNegocio.Vacuna

@{
    ViewBag.H1 = "Crear Vacuna";
    ViewBag.Title = "Crear Vacuna";
}

<main>
    <small>Dashboard / <em>Crear Vacuna <p style="color:red;">@ViewBag.mensaje</p></em></small>
    <div class="FormEmpleados">
        <form method="post" action="/Vacuna/Alta" autocomplete="on">
            <div class="infoPersonal">

                <input type="text" name="nombre" placeholder="Nombre vacuna (*)" required />
                <div class="has-error">
                    <span className="text-danger text-small d-block mb-2">
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "help-block" })
                        @Html.HiddenFor(model => model.Nombre)
                    </span>
                </div>

                <input type="number" name="cantidadDosis" placeholder="Cantidad dosis (*)" max="10" required />
                <div class="has-error">
                    <span className="text-danger text-small d-block mb-2">
                        @Html.ValidationMessageFor(model => model.CantidadDosis, "", new { @class = "help-block" })
                        @Html.HiddenFor(model => model.CantidadDosis)
                    </span>
                </div>

                <input type="number" name="lapsoDiasDosis" placeholder="Días entre dosis" max="300" />
                <div class="has-error">
                    <span className="text-danger text-small d-block mb-2">
                        @Html.ValidationMessageFor(model => model.LapsoDiasDosis, "", new { @class = "help-block" })
                        @Html.HiddenFor(model => model.LapsoDiasDosis)
                    </span>
                </div>

                <input type="number" name="produccionAnual" placeholder="Producción anual (*)" required />
                <div class="has-error">
                    <span className="text-danger text-small d-block mb-2">
                        @Html.ValidationMessageFor(model => model.ProduccionAnual, "", new { @class = "help-block" })
                        @Html.HiddenFor(model => model.ProduccionAnual)
                    </span>
                </div>

                <select name="Emergencia" required>
                    <option value="">Indique si es de emergencia (*)</option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>

                <select name="Covax" required>
                    <option value="">Indique si pertenece a COVAX(*)</option>
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>

                <select name="IdTipo" required>
                    <option value="">Seleccione un tipo de vacuna (*)</option>
                    @foreach (Dominio.EntidadesNegocio.TipoVacuna item in ViewBag.TipoVacunas)
                    {
                        <option value="@item.Id">@item.Descripcion</option>
                    }
                </select>

                <select name="Laboratorios" multiple required>
                    <option value="">Seleccione el/los laboratorios (*)</option>
                    @foreach (Dominio.EntidadesNegocio.Laboratorio item in ViewBag.Laboratorios)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>

                <select name="Paises" multiple required>
                    <option value="">Seleccione el/los Países (*)</option>
                    @foreach (Dominio.EntidadesNegocio.Pais item in ViewBag.Paises)
                    {
                        <option value="@item.CodPais">@item.Nombre</option>
                    }
                </select>

            </div>
            <div class="formInfo">
                <fieldset>
                    <legend>Mínima edad (*)</legend>
                    <input type="number" name="minEdad" class="ajustarAnchoInput" min="0" max="120" required />
                    <div class="has-error">
                        <span className="text-danger text-small d-block mb-2">
                            @Html.ValidationMessageFor(model => model.MinEdad, "", new { @class = "help-block" })
                            @Html.HiddenFor(model => model.MinEdad)
                        </span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Máxima edad (*)</legend>
                    <input type="number" name="maxEdad" class="ajustarAnchoInput" min="0" max="120" required />
                    <div class="has-error">
                        <span className="text-danger text-small d-block mb-2">
                            @Html.ValidationMessageFor(model => model.MaxEdad, "", new { @class = "help-block" })
                            @Html.HiddenFor(model => model.MaxEdad)
                        </span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Eficacia Prevención</legend>
                    <input type="number" id="montoHide" name="eficaciaPrev" min="0" max="100" required />
                    <div class="has-error">
                        <span className="text-danger text-small d-block mb-2">
                            @Html.ValidationMessageFor(model => model.EficaciaPrev, "", new { @class = "help-block" })
                            @Html.HiddenFor(model => model.EficaciaPrev)
                        </span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Eficacia Hospitalización</legend>
                    <input type="number" name="eficaciaHosp" min="0" max="100" required />
                    <div class="has-error">
                        <span className="text-danger text-small d-block mb-2">
                            @Html.ValidationMessageFor(model => model.EficaciaHosp, "", new { @class = "help-block" })
                            @Html.HiddenFor(model => model.EficaciaHosp)
                        </span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Eficacia CTI</legend>
                    <input type="number" name="eficaciaCti" min="0" max="100" required />
                    <div class="has-error">
                        <span className="text-danger text-small d-block mb-2">
                            @Html.ValidationMessageFor(model => model.EficaciaCti, "", new { @class = "help-block" })
                            @Html.HiddenFor(model => model.EficaciaCti)
                        </span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Mínima Temperatura (*)</legend>
                    <input type="number" name="MinTemp" min="-100" max="50" required />
                    <div class="has-error">
                        <span className="text-danger text-small d-block mb-2">
                            @Html.ValidationMessageFor(model => model.MinTemp, "", new { @class = "help-block" })
                            @Html.HiddenFor(model => model.MinTemp)
                        </span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Máxima Temperatura (*)</legend>
                    <input type="number" name="MaxTemp" min="-100" max="50" required />
                    <div class="has-error">
                        <span className="text-danger text-small d-block mb-2">
                            @Html.ValidationMessageFor(model => model.MaxTemp, "", new { @class = "help-block" })
                            @Html.HiddenFor(model => model.MaxTemp)
                        </span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Precio en USD </legend>
                    <input type="number" name="precio" max="1000" />
                </fieldset>
                <fieldset>
                    <legend>Fase clínica de aprobación (*)</legend>
                    <input type="number" name="faseClinicaAprob" class="ajustarAnchoInput" min="1" max="4" />
                    <div class="has-error">
                        <span className="text-danger text-small d-block mb-2">
                            @Html.ValidationMessageFor(model => model.FaseClinicaAprob, "", new { @class = "help-block" })
                            @Html.HiddenFor(model => model.FaseClinicaAprob)
                        </span>
                    </div>
                </fieldset>
                <textarea name="EfectosAdversos" maxlength="200" rows="15"></textarea>
                <div class="has-error">
                    <span className="text-danger text-small d-block mb-2">
                        @Html.ValidationMessageFor(model => model.EfectosAdversos, "", new { @class = "help-block" })
                        @Html.HiddenFor(model => model.EfectosAdversos)
                    </span>
                </div>
            </div>
            <div class="divFooter">
                <span>Campos Obligatorios (*)</span>
                <input type="submit" class="botones" value="Crear">
                <input type="reset" id="limpiar" value="Limpiar">
            </div>
        </form>
    </div>
</main>

